body {
    margin:0;
    width: 100%;
    width: 100vw;
    color: white;
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
    background-color: #141414;
    cursor: crosshair;
}

img, br {
    user-select: none;
}

canvas {
    background: #141414;
    width: 100vw;
    height: 100vh;
}

#site-title {
    position: absolute;
    left: 0;
    top: 85vh;
    color: white;
    z-index:10;
    font-size: 36pt;
    font-family: 'IBM Plex Mono', monospace;
    width: 100%; 
    text-align: center;
    margin: 0;
    user-select: none;
    max-width: 100vw;
}

@media(max-width: 540px) {
    #site-title {
        font-size: 24pt;
    }
}

.header {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 32pt;
    user-select: none;
    margin-bottom: 32px;
}

.subheader {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24pt;
    user-select: none;
    margin-bottom: 32px;
}

p {
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18pt;
    color: #CFCFCF;
    line-height: 48px;
}

#meeting-time {
    max-width: 1000px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 32pt;
    user-select: none;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
}

::-moz-selection {
    color: black;
    background: white;
}

::selection {
    color: black;
    background: white;
}

@media only screen and (max-width: 540px) {
    .header {
        font-size: 24pt;
    }

    .subheader {
        margin-top: -16px;
        font-size: 20pt;
    }

    p {
        font-size: medium;
        line-height: normal;
    }
}

.social-media-icon-lg {
    width: 256px;
    height: 256px;
    margin-right: 64px;
    margin-left: 64px;
    margin-bottom: 32px;

    background-color: #202020;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;  

    box-shadow: 0px 8px 32px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 8px 32px 12px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 8px 32px 12px rgba(0,0,0,.5);
}

@media(max-width: 768px) {
    .social-media-icon-lg {
        width: 128px;
        height: 128px;   
        margin: auto;
        margin-bottom: 32px;
    }
    .social-media-icon-lg img {
        width: 64px;
        height: 64px;   
        margin: auto;
        margin-bottom: 32px;
    }
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16pt;
    user-select: none;
    margin-bottom: 32px;
}

#social-media-container {
    z-index: 11;
    position: fixed;
    top: 32px;
    left: 32px;
    width: 96px;
}

#social-media-container div {
    width: 100%;
    height: 96px;
    border-radius: 50%;
    background-color: #202020;
    margin-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: center;  

    box-shadow: 0px 8px 32px 12px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 8px 32px 12px rgba(0,0,0,1);
    -moz-box-shadow: 0px 8px 32px 12px rgba(0,0,0,1);
}

@media(max-width: 768px) {
    #social-media-container {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 100%;
    }

    #social-media-container div {
        display: inline;
        height: 48px;
        margin-right: 16px;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;    
    }
}

a {
    color: white;
    font-weight: bold;
}

i {
    font-style: normal;   
    font-family: 'Cairo', sans-serif;
}

b {
    font-weight: normal;
    font-style: normal;
    font-family: 'Cairo', sans-serif;
    color: #141414;
    background-color: white;
}