body {
    margin: 0;
    width: 100%;
    width: 100vw;
    color: white;
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
    background-color: #141414;
    cursor: crosshair;
}

img, br {
    user-select: none;
}

canvas {
    background: #141414;
    width: 100vw;
    height: 100vh;
}

#site-title {
    position: absolute;
    left: 0;
    top: 85vh;
    color: white;
    z-index:10;
    font-size: 36pt;
    font-family: 'IBM Plex Mono', monospace;
    width: 100%; 
    text-align: center;
    margin: 0;
    user-select: none;
    max-width: 100vw;
}

@media(max-width: 540px) {
    #site-title {
        font-size: 24pt;
    }
}

.typewriter h1 {
    display: inline-block;
    max-width: fit-content;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #CFCFCF; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #CFCFCF; }
}


.hidden {
    opacity: 0;
    transition: opacity 1s;
}

.show {
    opacity: 1;
}

.header {
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 32pt;
    user-select: none;
    margin-bottom: 32px;
}

.subheader {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24pt;
    user-select: none;
    margin-bottom: 32px;
}

p {
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18pt;
    color: #CFCFCF;
    line-height: 48px;
}

#meeting-time {
    max-width: 1000px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 32pt;
    user-select: none;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
}

::-moz-selection {
    color: black;
    background: white;
}

::selection {
    color: black;
    background: white;
}

@media only screen and (max-width: 540px) {
    .header {
        font-size: 24pt;
    }

    .subheader {
        margin-top: -16px;
        font-size: 20pt;
    }

    p {
        font-size: medium;
        line-height: normal;
    }
}

.social-media-icon-lg {
    width: 256px;
    height: 256px;
    margin-right: 64px;
    margin-left: 64px;
    margin-bottom: 32px;

    background-color: #202020;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;  

    box-shadow: 0px 8px 32px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 8px 32px 12px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 8px 32px 12px rgba(0,0,0,.5);

    cursor: pointer;

    transition: background-color 0.2s;
}

.social-media-icon-lg:hover {
    background-color: white;
}

@media(max-width: 768px) {
    .social-media-icon-lg {
        width: 128px;
        height: 128px;   
        margin: auto;
        margin-bottom: 32px;
    }
    .social-media-icon-lg img {
        width: 64px;
        height: 64px;   
        margin: auto;
        margin-bottom: 32px;
    }
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16pt;
    user-select: none;
    margin-bottom: 32px;
}

#social-media-container {
    z-index: 11;
    position: fixed;
    top: 32px;
    left: 32px;
    width: 96px;
}

.small-social-media-icon-container {
    width: 100%;
    height: 96px;
    border-radius: 50%;
    background-color: #202020;
    margin-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: center;  

    box-shadow: 0px 8px 32px 12px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 8px 32px 12px rgba(0,0,0,1);
    -moz-box-shadow: 0px 8px 32px 12px rgba(0,0,0,1);

    cursor: pointer;

    transition: background-color 0.2s;
}

.small-social-media-icon-container:hover {
    background-color: white;
}

.small-social-media-icon-container img {
    filter: invert(0);
    transition: filter 0.2s;
}

.small-social-media-icon-container:hover img {
    filter: invert(1);
}

@media(max-width: 768px) {
    #social-media-container {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 50%;
    }

    #social-media-container div {
        display: inline;
        height: 48px;
        margin-right: 16px;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;    
    }

    .small-social-media-icon-container:hover img {
        filter: invert(0);
    }
}

a {
    color: white;
    font-weight: bold;
}

i {
    font-style: normal;   
    font-family: 'Cairo', sans-serif;
}

b {
    font-weight: normal;
    font-style: normal;
    font-family: 'Cairo', sans-serif;
    color: #141414;
    background-color: white;
}

#faq-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#faq-container div {
    margin-top: 16px;
    min-width: 25%;
    flex: 1;
    border: #ffffff;
}

.faq-question-div {
    text-align: center;
}

.faq-question-div h1 {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 20pt;
    text-align: left;
}

@media(max-width: 1456px) {
    #faq-container div {
        min-width: 50%;
    }
}

@media(max-width: 768px) {
    #faq-container {
        display: block;
        width: 100%;
    }    
    
    #faq-container div {
        width: 100%;
    }

    .faq-question-div h1 {
        width: 100%;
        padding-top: 16px;
        padding-left: 0;
        padding-right: 0;
        font-size: 16pt;
        margin-bottom: -4px;
        text-align: center;
    }    
}

.circle-row {
    display: flex;
    justify-content: center;
}

.circle {
    width: 128px;
    height: 128px;
    background-color: transparent;
    border: 4px solid white;
    border-radius: 50%;
    margin: 8px;
    transition: width 0.2s, height 0.2s, background-color 0.5s;
}


.circle:hover {
    border: none;
    background-color: white;
    width: 200px;
    height: 200px;
    vertical-align: middle;
}

.circle p {
    margin-top: 29%;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    text-align: center;
    transition: margin-top 0.2s;
    user-select: none;
}

.circle:hover p {
    margin-top: 8px;
    color: #141414;
}

.circle-description {
    display: none;
}

.circle:hover .circle-description {
    position: absolute;
    width: 196px;
    transform: translate(0, -20%);
    display: block;
    line-height: normal;
    font-weight: bold;
}

.circle-description-reduce-size {
    font-size: 16pt;
}

.circle img {
    display: none;
    width: 0px;
    transition: width 2s;
}

.circle:hover img {
    display: block;
    width: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
    transition: margin-top 0.2s, width 0.2s;
}

.circle img:hover {
    margin-top: 90px;
    width: 44px;
    cursor: pointer;
}

@media(max-width: 500px) {
    .circle {
        width: 64px;
        height: 64px;
        margin: 6px;
        transition: width 0.2s, height 0.2s;
    }

    .circle:hover {
        width: 128px;
        height: 128px;
    }

    .circle:hover .circle-description {
        width: 124px;
    }

    .circle-description-reduce-size {
        font-size: 10pt;
    }

    .circle:hover img {
        margin-top: 62px;
    }
    
    .circle img:hover {
        margin-top: 56px;
    }
    
}
