.nav-custom {
    background-color: #202020;
    position: fixed;
    top: 32px;
    right: 128px;
    z-index: 100;
    padding: 16px;
    box-shadow: 0px 8px 32px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 8px 32px 12px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 8px 32px 12px rgba(0,0,0,.5);
}

.nav-custom a {
    color: white;
    font-size: 16pt;
    cursor: crosshair;
}

.nav-custom .nav-link + .nav-link {
    margin-left: 4rem;
}

.nav-custom a:hover {
    color: white;
    text-decoration: underline;
}

.nav-custom a:visited {
    color: white;
    text-decoration: underline;
}

.nav-custom .active {
    color: white;
    text-decoration: underline;
}

@media(max-width: 1000px) {
    .nav-custom {
        display: none !important;
    }
}